@{
    ViewBag.Title = "cViewResponse";
		Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model System.Collections.Generic.List<fViews.Models.Response>
@using fViews.Models;*@

@using fViews.Models;
@using System.Collections;
@model System.Collections.Generic.List<Response>

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css" />

<script type="text/javascript" src="~/Content/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>

<h1>Nothing</h1>
<h1>Nothing</h1>
<h1>Nothing</h1>
<h1>Nothing</h1>
<html>
<body>
    

	@*@foreach(Response data in Model)
 {
	 <ul>
	 <li>
		 @(data.rRate)
		 @(data.rDuration)

		 </li>
	 </ul>
 }*@





 
	</body>

</html>