@{
    ViewBag.Title = "LoginLancer";
		Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css" />

<script type="text/javascript" src="~/Content/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>

<body background="~/Content/img/34.jpg">
	<form method="post" action="/LoginndSignup/LogincheckLancer" enctype="multipart/form-data">
		<div class="container">

			<h2 class="section-heading">Create A Free Client Account</h2>
			<h3 class="section-subheading text-muted">Login Free Lancer</h3>
			<div class="row">
				<div class="span12">
					<div class="" id="loginModal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

						</div>
						<div class="modal-body">
							<div class="well">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#login" data-toggle="tab">Login</a></li>

								</ul>
								<div id="myTabContent" class="tab-content">
									<div class="tab-pane active in" id="login">
										
											<fieldset>
												<div id="legend">

												</div>
												<div class="control-group">
													<!-- Username -->
													<label class="control-label" for="username">Username</label>
													<div class="controls">
														<input type="text" id="username" required name="eid" placeholder="" class="input-xlarge">
													</div>
												</div>

												<div class="control-group">
													<!-- Password-->
													<label class="control-label" for="password">Password</label>
													<div class="controls">
														<input type="password" id="password" name="password" placeholder="" required class="input-xlarge">
													</div>
												</div>


												<div class="control-group">
													<!-- Button -->
													<div class="controls">
														<button class="btn btn-success">Login</button>
													</div>
												</div>
											</fieldset>
										
									</div>



								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>


</body>