@{
    ViewBag.Title = "LsuccessShowJobs";
		Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css" />

<script type="text/javascript" src="~/Content/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<html>
<body background="~/Content/img/ky.jpg">





	<h2 class="text-muted"><em>Welcome Client</em></h2>

	<h1 class="text-muted"><em>Welcome Lancer!!!</em></h1>


	<div class="form-group">

		<label class="col-md-4 control-label" for="singlebutton"></label>
		<div class="col-md-4">
			<a class="btn btn-large btn-block btn-primary" href="~/LoginndSignup/LviewAllJobs">
				View All Jobs
				@*<button class="btn btn-large btn-block btn-primary" type="button">Post a Job</button>*@
			</a>

			<a class="btn btn-large btn-block btn-success" href="">
				View Responce From Client
			</a>
		</div>
	</div>







</body>
</html>


