@{
    ViewBag.Title = "NoJobsPosted";
		Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css" />

<script type="text/javascript" src="~/Content/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>

<html>
@*<body>*@
<body background="~/Content/img/No.jpg" width="1365" height="677">
	@*<img src="img/No.jpg" width="1365" height="677" alt="">*@
	<h1>

		hello<h1>
			<h1>
				hello<h1>
					<h1>
						hello<h1>
							@*<img src="~/img/No.jpg" width="1365" height="677" />*@
</body>
</html>