@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}




<html>
	<body>
		
		
		<div>
	<img src="~/img/bu.jpg" width="1365" height="677"  alt="">
			</div>

		
		</body>
		</html>

	